body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF4EA; 
  color: #333;
}

.navbar{
  background-color: #FF7A01; 
  color: white;
}

.nav-link {
  color: white; 
  text-decoration: none;
  transition: color 0.3s; 
}

.nav-link:hover {
  color: black; 
}

.button {
  background-color: #FF7A01; 
  color: white; 
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s; 
}

.button:hover {
  background-color: #FFA500; 
}

